.deliveryManagement {
  &.editMode .tabs {
    display: none;
  }

  [id$="combo"] > table tr {
    display: flex;
    flex-direction: column;
    padding: 8px 8px 0;
  }

  .include__institution .ui-fileupload-buttonbar.ui-widget-header.ui-corner-top {
    display: inline;
  }

  /* under journal: additional styles to bring journal into PG style while component still uses od composites */
  .journal {
    .box-title {
      border-bottom: .15rem solid var(--clr-neutral-300);
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: var(--box-padding-title);
      .actions {
        line-height: 2.4rem;
      }
      .btn {
        border: .1rem solid var(--clr-neutral-300);
        padding: .375rem;
        &:not(:last-child) {
          margin-inline-end: .8rem;
        }
      }
      h3 {
        font-size: 1.5rem;
        line-height: 2.4rem;
        margin: 3px 0;
      }
    }
    .box-content {
      .first-row td:first-child {
        width: 240px;
      }

      .form-actions {
        margin: 0;
        flex-direction: column;
        > * {
          display: flex;
          > * {
            flex: 0 0 auto;
          }
          .flex-label {
            width: 25%;
          }
          .flex-value {
            width: 75%;
          }
        }
        > :first-child {
          padding: 1.5rem 1.5rem .5rem;
        }
        > :last-child {
          padding: .5rem 1.5rem 1.5rem;
          .flex-value {
            .flex-row {
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }

      .log_color_error {
        color: #f00;
      }

      .log_color_warn {
        color: #f60;
      }

      .log_color_info {
        color: #03c;
      }

      .log_color_debug {
        color: #8e8d8e;
      }

      .log_color_user {
        color: #060;
      }

      [class*="log_file"] {
        background: #368ee0;
        border: none;
        color: white;
        line-height: 2rem;
        margin-left: 10px;
        padding: .375rem .75rem;
        &[class*="_delete"] {
          background: var(--clr-hot);
          border: none;
        }
      }

      .log_table_column_date {
        min-width: 140px;
      }

      th:last-child,
      td:last-child {
        border-right: 0px;
        border-left: 0;
      }
    }
  }

  .mce-content-body {
    font-size: 13px !important;
  }

  .smallertablecell{
    padding: 4px;
  }

  .table-borderless tr {
    border: 0;
  }

  .ui-fileupload
  {
    height: 27.5px;
    .ui-fileupload-buttonbar {
      padding: 0;
    }
  }

  .ui-button {
    background: var(--clr-primary-400);
    border: var(--clr-primary-400);
    color: #fff;
    &:hover {
      background: #2282db;
      border: #2282db;
    }
    &.ui-button-text-icon-left {
      .ui-button-text {
        padding-left: 1.5em;
      }
    }
  }

  .width-100 {
    width: 100px;
  }

  .width-200 {
    width: 200px;
  }

  .z-1 {
    z-index: 1;
  }
  
  .squareButton {
      width: 50px;
      height: 50px;
  }
}
